[submodule "AgentFormer"]
	path = AgentFormer
	url = https://github.com/Khrylx/AgentFormer.git
[submodule "Trajectron-plus-plus"]
	path = Trajectron-plus-plus
	url = https://github.com/StanfordASL/Trajectron-plus-plus.git
