[submodule "AgentFormer"]
	path = AgentFormer
	url = git@github.com:rishitoshsingh/AgentFormer.git
[submodule "Trajectron-plus-plus"]
	path = Trajectron-plus-plus
	url = git@github.com:rishitoshsingh/Trajectron-plus-plus.git
[submodule "stanford/StanfordDroneDataset"]
	path = stanford/StanfordDroneDataset
	url = https://github.com/flclain/StanfordDroneDataset.git
